.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    animation: slideIn 0.3s ease-in;
  }

  .menu-open {
    display: block;
  }

  .close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .fullscreen-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: white;
  }